---
layout: default
---

{% if false %}
<div class="container">
  <div class="row">
      <div class="col-lg-12 text-center">
        <h2 style="letter-spacing: 2px; font-weight: 300;">Cooking with Eleonore</h2>
      </div>
      {% if 1==0 %}
      <div class="col-md-2 col-md-offset-5 text-center" style="margin-top:50px">
        <img class="img-responsive img-circle" src="{{site.cdn_path}}/bsbxuizzmlemb64/about.jpg" style="margin-bottom: 28px" />
      </div>
      {% endif %}
  </div><!-- /.row -->

  <div class="row">
      <div class="col-md-8 col-md-offset-2" style="margin-top:50px">
        <h1>About Me</h1>
        <br>
        <p>
          Hi! My name is Eléonore Cedroni and I've loved cooking for as long as I can remember.
          I can honestly say that there isn't much I enjoy more in life than cooking and eating.
          I am French and like most French people I think that the love of food runs through my veins.
          I grew up eating homemade meals and cooking with my mom and grandmother.
        </p>

        <p>
          Before college I decided to attend culinary school in NYC in order to be able to cook anything my stomach desired.
          Fast forward 10 years: I graduated culinary school with a Chef's Diploma, did my cooking internship in a 2 star Michelin restaurant in Paris, went to college, graduated with Honors, worked in the food industry where I helped develop one of the most famous French pastry shops internationally as well as organizing cooking classes for children, and finally realized along the way that what I enjoyed most was cooking in my kitchen with young people who are passionate about food and getting their hands dirty.
          So if your kido loves food, loves to cook, wants to learn how to cook, you've come to the right place!
        </p>
      </div>

      <div class="col-md-8 col-md-offset-2" style="margin-top:50px">
        <h1>HOW IT WORKS</h1>
        <br><br>
        <p>
          Location: My mother's kitchen on the Upper East Side (conveniantly located minutes away to most schools) or at your house.
          Number of children: Maximum 4.
          Age of the child: 10 to 18 years old.
          Price: $50 per child
          What does the price include: groceries, a recipee card to take home, and snack (eating what they've just cooked)!
          How long is a class: 1 hour.
        </p>
      </div>

      <div class="col-md-8 col-md-offset-2" style="margin-top:50px">
        <h1>WINTER 2017 CLASSES</h1>
        <br>
        <p>
          Crêpes (french pancakes that you eat with jam, nutella, sugar & lemon...)
          Madeleines
          Toasts: sugar pea, mint & pecorino + avocado toast.

          Something else your child would like to make? Email me and we can figure something out: e.bebear@gmail.com
        </p>
      </div>
  </div><!-- /.row -->

  </div><!-- /.row -->
</div><!-- /.container -->



<section id="home" class="pfblock-image screen-height">
  <div class="home-overlay"></div>
  <div class="intro">
    {% if 1==0 %}
    <div class="start">
    <img class="img-responsive img-circle" src="{{site.cdn_path}}/bsbxuizzmlemb64/about.jpg" style="margin-bottom: 28px; height:140px;width:140px;display:block;margin:auto" />
    </div>
    {% endif %}
    <h1 style="font-family: 'Waiting for the Sunrise', cursive;">Cooking with Eleonore</h1>
    <div class="start" style="font-size: 24px;font-family: 'Waiting for the Sunrise', cursive;">Learn simple recipes while having fun</div>
  </div>

      <a href="#services">
  <div class="scroll-down">
          <span>
              <i class="fa fa-angle-down fa-2x"></i>
          </span>
  </div>
      </a>

</section>

<!-- Home end -->

<!-- Navigation start -->

<header class="header">

  <nav class="navbar navbar-custom" role="navigation">

    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% if 1 ==0 %}
        <a class="navbar-brand" href="index.html">Eléonore Bébéar</a>
        {% endif %}
      </div>

      <div class="collapse navbar-collapse" id="custom-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home">Home</a></li>
          <li><a href="#services">About</a></li>
          <li><a href="#portfolio">How it works</a></li>
        </ul>
      </div>

    </div><!-- .container -->

  </nav>

</header>

<!-- Navigation end -->

  <!-- Services start -->

<section id="services" class="pfblock pfblock-gray">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">

        <div class="col-md-12 text-center" style="margin-top:0px; margin-bottom:80px">
            <img class="img-responsive img-circle" src="{{site.cdn_path}}/bsbxuizzmlemb64/about.jpg" style="margin-bottom: 28px; height:140px;width:140px;display:block;margin:auto" />
          </div>

        <div class="pfblock-header wow fadeInUp">
          <h2 class="pfblock-title">About</h2>
          <div class="pfblock-line"></div>

          <div class="pfblock-subtitle">

            <p>
          Hi! My name is Eléonore Cedroni and I've loved cooking for as long as I can remember.
          I can honestly say that there isn't much I enjoy more in life than cooking and eating.
          I am French and like most French people I think that the love of food runs through my veins.
          I grew up eating homemade meals and cooking with my mom and grandmother.
        </p>

        <p>
          Before college I decided to attend culinary school in NYC in order to be able to cook anything my stomach desired.
          Fast forward 10 years: I graduated culinary school with a Chef's Diploma, did my cooking internship in a 2 star Michelin restaurant in Paris, went to college, graduated with Honors, worked in the food industry where I helped develop one of the most famous French pastry shops internationally as well as organizing cooking classes for children, and finally realized along the way that what I enjoyed most was cooking in my kitchen with young people who are passionate about food and getting their hands dirty.
          So if your kido loves food, loves to cook, wants to learn how to cook, you've come to the right place!
        </p>
          </div>
        </div>

      </div>

    </div>

  </div><!-- .container -->
</section>


<section id="portfolio" class="pfblock">
    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-sm-offset-3">

          <div class="pfblock-header wow fadeInUp">
            <h2 class="pfblock-title">How it works</h2>
            <div class="pfblock-line"></div>
            <div class="pfblock-subtitle">
              <h4>Location: My mother's kitchen on the Upper East Side (conveniantly located minutes away to most schools) or at your house.</h4>
              <h4>Number of children: Maximum 4.</h4>
              <h4>Age of the child: 10 to 18 years old.</h4>
              <h4>Price: $50 per child</h4>
              <h4>What does the price include: groceries, a recipee card to take home, and snack (eating what they've just cooked)!</h4>
              <h4>How long is a class: 1 hour.</h4>
            </div>
          </div>

        </div>

      </div><!-- .row -->

      <div class="row">

        <div class="col-sm-6 col-sm-offset-3">

          <div class="pfblock-header wow fadeInUp">
            <h2 class="pfblock-title">WINTER 2017 CLASSES:</h2>
            <div class="pfblock-line"></div>
            <div class="pfblock-subtitle">

            <h3 class="fs18">Crêpes</h3>
            <p>French pancakes that you eat with jam, nutella, sugar & lemon...</p>

            <br>

            <h3 class="fs18">Madeleines</h3>

            <br>

            <h3 class="fs18">Toasts: sugar pea, mint & pecorino + avocado toast.</h3>
            <br>
            <div class="pfblock-line"></div>
            <p>Something else your child would like to make? Email me and we can figure something out: e.bebear@gmail.com</p>
            </div>
          </div>

        </div>

      </div><!-- .row -->


    </div><!-- .contaier -->

  </section>

{% endif %}











<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll fw300" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll fw300" href="#services">How it works</a>
                    </li>
                    <li>
                        <a class="page-scroll fw300" href="#portfolio">Recipes</a>
                    </li>
                    <li>
                        <a class="page-scroll fw300" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="home-overlay"></div>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading" class="fw300">Cooking with Eleonore</h1>
                <hr>
                <p>Learn simple recipes while having fun</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll fw300">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <img class="img-responsive img-circle" src="{{site.cdn_path}}/bsbxuizzmlemb64/about.jpg" style="margin-bottom: 28px; height:140px;width:140px;display:block;margin:auto" />
                    <br><br>
                    <div class="title-bar text-center">
                      <h2 class="section-heading fw300">About me</h2>
                    </div>

                    <p class="text-content fw300 text-muted">
                      Hi! My name is Eléonore Cedroni and I've loved cooking for as long as I can remember.<br>
                      I grew up eating homemade meals and cooking with my mom and grandmother.
                    <p class="text-content fw300 text-muted">
                      Fast forward 10 years: I graduated culinary school with a Chef's Diploma, did my cooking internship in a 2 star Michelin restaurant in Paris,
                      went to college, graduated with Honors, worked in the food industry where I helped develop one of the most famous French pastry shops internationally. I also organized cooking classes for children.
                    </p>
                    <p class="text-content fw300 text-muted">
                      Today what I enjoy most is cooking in my kitchen with young people who are passionate about food.
                      So if your child loves food, loves to cook, or wants to learn how to cook, you've come to the right place!
                    </p>

                    <br><br>
                    <div class="text-center">
                        <a href="#services" class="page-scroll btn btn-default btn-xl sr-button fw300">Get Started!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <div class="title-bar text-center">
                    <h2 class="section-heading fw300">How it works</h2>
                  </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        {% if false %}<i class="fa fa-4x fa-map-marker text-blue sr-icons"></i>{% endif %}
                        <div class=style="height:60px">
                        <i class="icon-location-pin icons text-blue sr-icons" style="font-size:3.5em"></i>
                        </div>
                        <h3 class="fw300 text-blue">Location</h3>
                        <p class="text-muted fw300">My mother's kitchen on the Upper East Side (conveniantly located minutes away to most schools) or at your house.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        {% if false %}
                        <div class=style="height:60px">
                          <i class="fa fa-4x fa-users text-blue sr-icons"></i>
                        </div>
                        {% endif %}
                        <div class=style="height:60px">
                        <i class="icon-people icons text-blue sr-icons" style="font-size:3.5em"></i>
                        </div>
                        <h3 class="fw300 text-blue">Group</h3>
                        <p class="text-muted fw300">Number of children: Maximum 4. Age of the child: 10 to 18 years old.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                      {% if false %}
                        <i class="fa fa-4x fa-usd text-blue sr-icons"></i>
                        {% endif %}
                        <div class=style="height:60px">
                        <i class="icon-credit-card icons text-blue sr-icons" style="font-size:3.5em"></i>
                        </div>
                        <h3 class="fw300 text-blue">Price</h3>
                        <p class="text-muted fw300">$50 per child. That includes groceries and a recipee card to take home</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        {% if false %}
                        <i class="fa fa-4x fa-cutlery text-blue sr-icons"></i>
                        {% endif %}
                        <div class=style="height:60px">
                        <img src="/img/chef-hat.png" alt="" style="height:60px;width:50px" class="sr-icons">
                        </div>
                        <h3 class="fw300 text-blue">Class</h3>
                        <p class="text-muted fw300">Duration: 1 hour, which includes eating what we've just cooked!</p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid portfolio-header">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="portfolio-bar text-center">
                    <h2 class="section-heading fw300">WINTER 2017 CLASSES</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="javascript: void(0)" class="portfolio-box">
                        <img src="img/mad.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-rose">
                                    Madeleines
                                </div>
                                <div class="project-name">
                                    These shell-shaped butter cakes (that us French think of more as a cookie) make for a delicious dessert or snack.
                                    They are often enjoyed with tea but are also super tasty dipped in hot cocoa!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="javascript: void(0)" class="portfolio-box">
                        <img src="img/nutella.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-rose">
                                    Crepes
                                </div>
                                <div class="project-name">
                                    A French specialty that resembles a very thin pancake.
                                    They can be dressed up with a number of sweet or savory fillings.
                                    Even though they're eaten all year round in France it is the custom to eat them on February 2nd for "La Chandeleur".
                                    {Option to use buckwheat flour to make them gluten free / almond milk to make them dairy free}.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="javascript: void(0)" class="portfolio-box">
                        <img src="img/toast.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-rose">
                                    Toasts
                                </div>
                                <div class="project-name">
                                  We will be making two recipes of toast on country bread which are great for a light lunch or cut up into small portions for parties.
                                  Avocado toast, which has become very popular and is one of my personal favorites. Green pea, pecorino & mint toast, which is sweet and refreshing.
                                  Both these toasts are simply fabulous!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    {% if false %}
    <section class="no-padding" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">WINTER 2017 CLASSES</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

        <div class="col-sm-6 col-sm-offset-3">

          <div class="pfblock-header wow fadeInUp">
            <div class="pfblock-subtitle">

            <h3 class="fs18">Crêpes</h3>
            <p>French pancakes that you eat with jam, nutella, sugar & lemon...</p>

            <br>

            <h3 class="fs18">Madeleines</h3>

            <br>

            <h3 class="fs18">Toasts: sugar pea, mint & pecorino + avocado toast.</h3>
            <br>
            <div class="pfblock-line"></div>
            <p>Something else your child would like to make? Email me and we can figure something out.</p>
            </div>
          </div>

        </div>

      </div><!-- .row -->
        </div>
    </section>
    {% endif %}

    {% if false %}
    <section>
      <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
              <div class="pic-holder" style="position:relative;display:inline-block">
                <img src="/img/mad.jpg" alt="" style="height:300px;width:300px">
                <span class="text-content"><span>Place Name</span></span>
              </div>
              <h3 class="fw300 text-blue">Toasts</h3>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box">
              <div class="pic-holder" style="position:relative;display:inline-block">
                <img src="/img/toast.jpg" alt="" style="height:300px;width:300px">
                <span class="text-content"><span>Place Name</span></span>
              </div>
              <h3 class="fw300 text-blue">Toasts</h3>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
                <div class="pic-holder" style="position:relative;display:inline-block">
                  <img src="/img/nutella.jpg" alt="" style="height:300px;width:300px">
                  <span class="text-content"><span>Place Name</span></span>
                </div>
                <h3 class="fw300 text-blue">Toasts</h3>
            </div>
        </div>

      </div>
      </div>
    </section>
    {% endif %}

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="col-lg-12 text-center">
                        <div class="title-bar text-center">
                        <h2 class="section-heading fw300">Let's Start Cooking!</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center text-blue">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>
                    <a href="tel:+1-917-624-1542" style="color:#008c9e">917-624-1542</a>
                    </p>
                </div>
                <div class="col-lg-4 text-center text-blue">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:e.bebear@gmail.com" style="color:#008c9e">e.bebear@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
    <script src="/js/creative.min.js"></script>

</body>
